@page "/"
@using Bell.Reconciliation.Frontend.Shared.Pages.Shared
@using Bell.Reconciliation.Frontend.Shared.ServiceInterfaces;
@inject ILocalDbRepository _localdb
@inject ISyncData SyncData
<PageTitle>Bell Compare Page</PageTitle>

@if (!uiDbExist)
{
    @if (!localDbExist)
    {
        <RadzenButton ButtonStyle="ButtonStyle.Dark" Text="Fetch Data from Server" Click="FetchData"></RadzenButton>
    }
    <LocalDbLoader message="Loading Data ...."></LocalDbLoader>

}
@*if ()
{
    if (showloader)
    {
        <LocalDbLoader message="Loading Data from localDb to Ui"></LocalDbLoader>
    }
}*@
else
{

    <div class="container marketing">
        <TopFilters SubLobFilterChanged="(e)=>SwitchBetweenSubLob(e)"></TopFilters>

        @if (WirelessSubLob == "Wireless")
        {
            <TableCompareCellphone BellSources="bellSourcesCellPhone" StaplesSources="staplesSourcesCellPhone" CompareBellStaple="compreBellStapleCellPhone"></TableCompareCellphone>
        }
        else
        {
            <TableCompareNonCellphone BellSources="bellSourcesNonCellPhone" StaplesSources="staplesSourcesNonCellPhone" CompareBellStaple="compreBellStapleNonCellPhone"></TableCompareNonCellphone>

        }


    </div>
}


@code {
    List<BellSourceDto> bellSourcesCellPhone = new();
    List<StaplesSourceDto> staplesSourcesCellPhone = new();
    List<CompareBellStapleCellPhone> compreBellStapleCellPhone = new();

    List<BellSourceDto> bellSourcesNonCellPhone = new();
    List<StaplesSourceDto> staplesSourcesNonCellPhone = new();
    List<CompareBellStapleNonCellPhone> compreBellStapleNonCellPhone = new();

    string WirelessSubLob;
    bool localDbExist = true;
    bool uiDbExist = false;
    bool showloader = false;
    protected override async Task OnInitializedAsync()
    {
        if (await CheckDbExist())
        {
            await LoadDatabaseInUi();
        }
        //else
        //{
        //    await FetchData();
        //}
        StateHasChanged();
    }
    public async void SwitchBetweenSubLob(string subLob)
    {
        WirelessSubLob = subLob;
    }

    public async Task<bool> CheckDbExist()
    {
        localDbExist = await _localdb.LocalDbExist();
        StateHasChanged();
        return localDbExist;
    }

    public async Task<bool> UiDbExist()
    {
        if (bellSourcesCellPhone.Count > 1)
        {
            uiDbExist = true;
            return true;
        }
        uiDbExist = false;
        return false;
    }
    private async Task FetchData()
    {
        showloader = true;
        localDbExist = false;
        await SyncData.FetchDataFromServerDb();
        localDbExist = true;
        await LoadDatabaseInUi();

        StateHasChanged();
    }
    private async Task LoadDatabaseInUi()
    {
        showloader = true;
        uiDbExist = false;
        bellSourcesCellPhone = await _localdb.GetBellSourceCellPhoneFromLocalDb();
        staplesSourcesCellPhone = await _localdb.GetStapleSourceCellPhoneFromLocalDb();
        compreBellStapleCellPhone = await _localdb.GetBellStapleCompareCellPhoneFromLocalDb();

        Console.WriteLine(string.Format("{0} {1} {2}",bellSourcesCellPhone.Count,staplesSourcesCellPhone.Count,compreBellStapleCellPhone.Count));

        bellSourcesNonCellPhone = await _localdb.GetBellSourceNonCellPhoneFromLocalDb();
        staplesSourcesNonCellPhone = await _localdb.GetStapleSourceNonCellPhoneFromLocalDb();
        compreBellStapleNonCellPhone = await _localdb.GetBellStapleCompareNonCellPhoneFromLocalDb();

        Console.WriteLine(string.Format("{0} {1} {2}", bellSourcesNonCellPhone.Count, staplesSourcesNonCellPhone.Count, compreBellStapleNonCellPhone.Count));

        uiDbExist = true;
        showloader = false;
        StateHasChanged();

    }

}