@using Bell.Reconciliation.Frontend.Shared.ServiceInterfaces;
@inject ISyncData SyncData
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./Assets/Staples_Canada_logo_2018.png" height="34" class="d-inline-block align-text-top" />
              
            </a>
            <div class="navbar-brand text-center text-black display-2">
                Staples-Bell Reconcilliation App
            </div>
            <ConnectivityIndicator>
                <ShowOnline>
                    <img alt="Online" title="Application running online." src="./Assets/internet-on.png" />
                </ShowOnline>
                <ShowOffline>
                    <img alt="Offline" title="Application running offline." src="./Assets/internet-off.png" />
                </ShowOffline>
            </ConnectivityIndicator>
            <RadzenButton Text="Sync Changes" Icon="sync" ButtonStyle="ButtonStyle.Success" Click="@OnClickSync"></RadzenButton>
           
    <hr />
        </div>
    </nav>
</header>

@code {
    private void OnClickSync()
    {
        SyncData.UpdateChangesToServerDb();
    }

}
