<div class="rz-p-12">
    <h3>@message</h3>
    <div class="rz-m-12">
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </div>
</div>

@code {
    [Parameter]
    public string message { get; set; }
}
