@inherits LayoutComponentBase
@using Bell.Reconciliation.Frontend.Shared.Pages.Shared;
@namespace Bell.Reconciliation.Frontend.Shared.Pages


<style>
    .body-main-layout {
        margin-top: 100px;
    }
</style>

<Header></Header>
<div class="page">
    <main>
        <div class="body-main-layout">
            @Body
        </div>
    </main>
</div>
<Footer></Footer>