/* /Pages/Index.razor.rz.scp.css */
.container[b-qxpbolm5pz] {
    margin-top: 100px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.bd-placeholder-img[b-4m0s3k2gs3] {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg[b-4m0s3k2gs3] {
        font-size: 3.5rem;
    }
}
