@page "/"
@using Bell.Reconciliation.Frontend.Shared.Pages.Shared
<PageTitle>Bell Compare Page</PageTitle>
<div class="container marketing">
    <TopFilters></TopFilters>
    <TableCompare></TableCompare>
    
</div>
