<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./Assets/Staples_Canada_logo_2018.png" height="34" class="d-inline-block align-text-top" />
              
            </a>
            <div class="navbar-brand text-center text-black display-2">
                Staples-Bell Reconcilliation App
            </div>
           
    <hr />
        </div>
    </nav>
</header>

@code {

}
