<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">FILTERS GO HERE! </h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    
</div>
<hr class="featurette-divider">

@code {

}
